@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.wrapper {
  width: 80%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #F1F1F1;
  /* display: flex; */
}

.header img {
  width: 75px;
}

.logo {
  display: flex;
  align-items: center;
}

.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

.nav ul li:not(:last-child) {
  border-right: 1px solid black;
  color: black;
}


.search_user-info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo_nav {
  display: flex;
  gap: 50px;
  align-items: center;
}



.content {
  max-width: 300px;
  margin-bottom: 35px;
}

.toc {
  list-style-type: none;
  padding: 0;
}

.toc li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.dots {
  flex-grow: 1;
  border-bottom: 1.5px dotted black;
}

.news-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-family: Inter;
  font-weight: 400;
}

.news-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Inter;
  font-weight: 400;
  /* border-top: 1px solid black; */
}

.news-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.05px;
}

.news-container h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 38.73px;
}

.news-container::after {
  content: "Новости";
  display: block;
  position: absolute;
  top: 65px;
  left: -120px;
  transform: rotate(-90deg);


  font-family: Inter;
  font-size: 46px;
  font-weight: 400;
  line-height: 58.09px;
}

.popular, .top-authors, .non-fiction {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

.popular-title, .authors-title, .fiction-title {
  position: relative;
}

.popular-title::after {
  content: "Популярные";
  display: block;
  position: absolute;
  top: 100px;
  left: -135px;
  font-size: 38px;
  transform: rotate(-90deg);
  font-family: Inter;
  color: black;
}

.authors-title::after {
  content: "Лучшие авторы";
  display: block;
  position: absolute;
  top: 123px;
  left: -167px;
  font-size: 38px;
  transform: rotate(-90deg);
  font-family: Inter;
  color: black;
}

.fiction-title::after {
  content: "Нон-фикшен";
  display: block;
  position: absolute;
  top: 110px;
  left: -140px;
  font-size: 38px;
  transform: rotate(-90deg);
  font-family: Inter;
  color: black;
}

.authors-cards, .fiction-cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
}

.popular-cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
}

.popular-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 15px;
  /* Optional: add space between cards */
  width: 150px;
}

.popular-card img {
  width: 100%;
  /* Adjust size as needed */
  height: 200px;
  display: block;
}

.popular-card p {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  margin: 0 0 5px 0;
}

.popular-card h4 {
  margin-top: 5px;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
  color: #00000099;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  color: black;
  border: 1px solid black;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.popular-cards::-webkit-scrollbar, .authors-cards::-webkit-scrollbar, .fiction-cards::-webkit-scrollbar {
  display: none;
}