@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 80%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #F1F1F1;
}

.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

.nav ul li:not(:last-child) {
  border-right: 1px solid black;
  color: black;
}


.search_user-info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo_nav {
  display: flex;
  gap: 50px;
  align-items: center;
}



.content {
  max-width: 300px;
  margin-bottom: 35px;
}

.toc {
  list-style-type: none;
  padding: 0;
}

.toc li {
  display: flex;
  justify-content: space-between;
}

.dots {
  flex-grow: 1;
  border-bottom: 1.5px dotted black;
}

.news-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-family: Inter;
  font-weight: 400;
}

.news-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Inter;
  font-weight: 400;
  /* border-top: 1px solid black; */
}

.news-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.05px;
}

.news-container h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 38.73px;
}

.news-container::after {
  content: "Новости";
  display: block;
  position: absolute;
  top: 65px;
  left: -120px;
  transform: rotate(-90deg);


  font-family: Inter;
  font-size: 46px;
  font-weight: 400;
  line-height: 58.09px;
}

