.container {
	display: flex;
	flex-direction: column;
	padding: 0 100px;
}

.profile {
	display: flex;
	justify-content: center;
	gap: 200px;
}

.profile-info {
	display: flex;
	gap: 40px;
}

.profile-photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: lightgray;
}

.profile-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profile-form input {
	width: 320px;
	padding: 15px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid lightgray;
}

.profile-form label {
	padding: 0 15px;
}

.overall-statistics {
	background-color: #8F8EC96E;
	width: 40%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	border-radius: 10px;
}

.overall-statistics h4 {
font-family: Inter;
font-size: 20px;
font-weight: 400;
}

.overall-statistics2 {
text-decoration: none;
}
.overall-statistics3 {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.overall-statistics4 {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.chart {
	width: 325px;
	background-color: white;
}

.my-shelf {
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.books-cards {
	width: 100%;
	height: 500px;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	overflow-y: auto;
	justify-content: center;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
}

.book-card {
	width: 20%;
}

.row {
display: flex;
justify-content: space-between;
}

.row span {
font-family: Inter;
font-size: 16px;
font-weight: 400;
color: #8F8EC999;
}
.row span:hover {
cursor: pointer;
text-decoration: underline;
}